/*slide-dot*/

.clearfix::after {
  content: "";
  clear: both;
  display: table; 
}
.slide-dot {
  margin-left: 580px;
}
  button{
  float: left;
  margin-right: 10px;
  border-style: none;
  padding: 8px;
  background-color: #fff;
  border-radius: 15px;

  &:hover {
    background-color: rgb(138, 130, 130);
  }
}
.dot-active {
  background-color:  #a55402;
} 