/*slide-dot*/

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.slide-dot {
  position: absolute;
  left: 1000px;

}
  li {
  float: left;
  margin-left: 20px;
  list-style: none;
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;

  &:hover {
    background-color: rgb(49, 49, 49);
  }
}